.stock {
  padding: 0.5rem 1rem;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;

  &__header {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__h-divider {
    border-bottom: 0.1rem solid rgba(128, 128, 128, .2);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &--none {
      border: none;
      margin: 0;
    }
  }

  &__container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
