<div class="container">
  <app-title [title]="'Investimentos'"></app-title>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr class="investments__table-header">
        <th scope="col">Nome</th>
        <th scope="col">Objetivo</th>
        <th scope="col">Saldo total</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let investment of investments"
        [ngClass]="{
          'table-warning investments__table-row': investment.shortageIndicator === 'N'
        }"
        (click)="shortageIndicatorHandler(investment)"
      >
        <td>{{ investment.name }}</td>
        <td>{{ investment.goal }}</td>
        <td>{{ investment.totalBalance | currency : 'BRL' }}</td>
      </tr>
    </tbody>
  </table>
</div>

